<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>justaratherfancyToDo</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!-- <script crossorigin src="https://cdn.jsdelivr.net/npm/keen-tracking@3"></script> -->
  <!-- <script src="./lib/keen.js"></script> -->
</head>

<body>
  <div id="fb-root"></div>
  <script src="./lib/facebookLogin.js"></script>
  <div id="app">
    <nav class="navbar header has-shadow is-primary is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="title is-4" style="margin: 10px">justaratherfancyToDo</h1>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" v-if="isLoggedIn === false">
            <a v-if="isLoggedIn === false" class="button is-primary is-inverted " v-on:click='login' style="margin: 8px">Login</a>
          </a>
          <a class="navbar-item" v-if="isLoggedIn === false">
            <email-field v-model="loginEmail"></email-field>
          </a>
          <a class="navbar-item" v-if="isLoggedIn === false">
            <password-field v-model="loginPassword"></password-field>
          </a>
          <a class="navbar-item" v-if="isLoggedIn === false">or</a>
          <a class="navbar-item" v-if="isLoggedIn === false">
            <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState();"></div>
          </a>
          <div class="navbar-item has-dropdown is-hoverable" v-if="isLoggedIn === true">
            <a class="navbar-item"> <i class="fas fa-user" style="margin: 10px"></i>{{ name }}</a>
            <div class="navbar-dropdown is-boxed is-right">
              <a class="navbar-item">Insights</a>
              <a class="navbar-item">
                <a class="button is-danger is-normal" style="margin: 8px" v-on:click='logout'>Logout</a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-fullheight is-primary" v-if="isLoggedIn === false">
      <div class="hero-head">
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">justaratherfancyToDo</h1>
          <h2 class="subtitle">A ToDO web app built for humans</h2>
          <h5 class="subtitle">Register</h5>
          <name-field v-model="registrationName"></name-field>
          <email-field v-model="registrationEmail"></email-field>
          <password-field v-model="registrationPassword"></password-field>
          <button type="" name="button">
              <a class="button is-primary is-inverted " v-on:click='register'>Submit</a>
            </button>
        </div>
      </div>

    </section>

    <section v-if="isLoggedIn === true">
      <div class="container has-text-centered" style="margin-top: 20px">
        <a class="button is-primary" @click="openCreate">Create New ToDo</a>
      </div>

      <create-todo v-bind:class="{'is-active':createModalActive}" @close="close" @create="create">

      </create-todo>

      <update-todo v-bind:class="{'is-active':updateModalActive}" @close="close" @update="update" :datatodo="updateModalData">

      </update-todo>

      <remove-todo v-bind:class="{'is-active':removeModalActive}" @close="close" @remove="remove" :datatodo="removeModalData">

      </remove-todo>

      <div class="columns is-multiline" style="margin:10px">
        <todo v-for="(todo, index) in todos" :todo="todo" @update="openUpdate" @remove="openRemove" @done="done"></todo>
      </div>
    </section>

  </div>
  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <p>
            <strong class="has-text-weight-semibold">
              Made with <i class="fas fa-heart" style="color:#FF1493"></i> By <a href="https://github.com/yusufsiregar44" style="color:#3273dc">Yusuf Siregar</a>
            </strong>
          </p>
          <p>
            <small>
              <a href="https://github.com/yusufsiregar44/todo-fancy">justaratherfancyToDo</a> and the <a href="https://bulma.io/" style="color:#3273dc">Bulma</a> source code is licensed under <a href="http://opensource.org/licenses/mit-license.php" style="color:#3273dc">MIT</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="lib/main.js"></script>
</body>

</html>
